<div class="authorships_fields">
<%#= f.label :authorships %>
<%#= f.text_field :authorships %>


<%= authorships_form.label :person_id%>
<%= authorships_form.text_field :person_id %>
 
<%#= authorships_form.label :position %>
<%#	= authorships_form.text_field :position %>

</div>